<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{experience?.title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src] = "experience?.image"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{experience?.place}}</ion-card-subtitle>
      <ion-card-title>{{experience?.title}} </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
        <div>COP: {{experience?.price}} </div>
        <br/>
        <section class="score-preview">
          <app-score [score] = "experience?.score"></app-score>
          <div>{{experience?.users}} usuarios</div>
      </section>
    </ion-card-content>
  </ion-card>
  <br />
  <ion-button color="secondary" expand="block">Reservar</ion-button>  
</ion-content>
