<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Experiencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <a *ngFor="let item of experiences" [routerLink]="['/card-detail/'+ item._id]">
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="item.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <h4>{{ item.place }}</h4>
        <div>COP: {{item?.price}} </div>
        <br/>
        <section class="score-preview">
          <app-score [score] = "item?.score"></app-score>
          <div>{{item?.users}} usuarios</div>
      </section>
      </ion-label>
    </ion-item>   
  </a>
  </ion-list>
</ion-content>
